@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende sobre <a href="https://docs.microsoft.com/aspnet/core">crear aplicaciones web con ASP.NET Core</a>.</p>
</div>
